@font-face {
    font-family: 'Euphoria Script';
    src: url('/fonts/EuphoriaScript-Regular.woff2') format('woff2'),
        url('/fonts/EuphoriaScript-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

